.container{
    margin-top: 0px;
    width: 100%;
    margin-bottom: 0;
    background-color: rgb(31 41 55);
    height: 10rem;
}

.children{
    display: flex;
    justify-content: space-evenly;

}

.img{
    margin-top: 2rem;
    height: 100px;
    width: 100px;
}