nav {
  display: flex;
  position: fixed;
  width: 100%;
  top: 0;
  /* useing z index to prevent the nav from it being covred by other conetent*/
  z-index: 1030;
  justify-content: space-between;
  padding: 0 15%;
  height: 75px;
  line-height: 75px;
  background-color: rgb(17 24 39);
  color: whitesmoke;
}

nav .navBarBran {
  color: whitesmoke;
  font-size: 28px;
  font-weight: 500;
  letter-spacing: 0.5px;
}

nav .navList {
  display: flex;
}
nav .navList .navItem {
  cursor: pointer;
  height: 100%;
  padding: 0 30px;
  transition: 0.4s;
}

nav .navList .navItem:hover {
  background: whitesmoke;
  color: black;
}

nav .navList .nav-link {
  color: #f1f1f1;
  font-size: 18px;
  font-weight: 500;
}

@media screen and (max-width: 935px) {
  nav {
    padding: 0 2rem;
  }

  nav .navList .navItem {
    padding: 0 20px;
  }
}

@media screen and (max-width: 675px) {
  nav .navBarToggler {
    display: grid !important;
  }
  nav .navList {
    display: grid;
    position: absolute;
    background: rgb(55 65 81);
    color: white;
    font-weight: bolder;
    top: 75px;
    width: 100%;
    left: 0;
    transform: translateY(-900%);
    z-index: 1;
    transition: 0.4s;
  }


  .containerDrop {
    display: flex;
    flex-direction: column;
  }

  .navLink {
    text-align: center;
    padding-right: 100%;
    padding-top: 26px;
    padding-left: 0px;
    padding-bottom: 27px;
  }
}

/* end of querey */
nav .navBarToggler {
  display: none;
  height: min-content;
  margin: 18px -10px 0 0;
  cursor: pointer;
}

nav .navBarToggler .bar {
  width: 40px;

  height: 5px;
  margin-bottom: 10px;
  background: #ffffff;
  border-radius: 10%;
  transition: 0.4s;
}

input {
  display: none;
}

input:checked ~ nav .navList {
  transform: translateY(0);
}

input:checked ~ nav .navBarToggler {
  margin-top: 35px;
}

input:checked ~ nav .navBarToggler .bar:nth-child(1) {
  position: absolute;
  transform: rotate(45deg);
}

input:checked ~ nav .navBarToggler .bar:nth-child(2) {
  display: none;
}

input:checked ~ nav .navBarToggler .bar:nth-child(3) {
  transform: rotate(-45deg);
}
