.allCards {
  margin-top: 5rem;
}

.singleCard {
  height: 600px;
  background-color: rgb(31 41 55);
  border-radius: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
  width: 600px;
}
.titleProjects {
  text-align: center;
  text-decoration: underline;
  font-size: 25px;
  color: rgb(59 130 246);
}

.volun{
  color: rgb(8 145 178);
  margin-top: 3rem;
  font-family: 'Covered By Your Grace', cursive;
  text-align: center;
  text-decoration: underline;
  text-shadow: 1px 1px 2px rgb(8 145 178), 0 0 1em rgb(8 145 178),
    0 0 0.2em rgb(8 145 178);
  font-size: 3rem;
}

.cryptoFinder {
  height: 400px;
  width: 400px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}
.todoImg {
  margin-left: auto;
  margin-right: auto;
  height: 400px;
  margin-top: 20px;
}
.eComImg {
  height: 400px;
  width: 450px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}
.descriptionsProjects {
  color: white;
  text-align: left;
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}
.infoButton {
  background-color: #cf6679;
  border-radius: 20px;
  width: 100px;
  margin-top: 20px;
  margin-left: 40px;
}

.strangerpic1 {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  height: 400px;
}
.WorkForceImg{
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;


}
@media only screen and (max-width: 600px) {
  .singleCard {
    width: 380px;
    height: 640px;
  }

  .eComImg {
    height: 200px;
    width: 200px;
  }

  .cryptoFinder {
    height: 300px;
    width: 200px;
  }
  .todoImg {
    height: 300px;
    width: 200px;
  }

  .strangerpic1 {
    height: 300px;
    width: 250px;
  }
}
