.pic1 {
  height: 300px;
  width: 500px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.firstImage{
  margin-left: auto;
  margin-right: auto;
  height: 400px;
  width: 300px;
  margin-top: 50px;
}

.pic2 {
  height: 400px;
  width: 350px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
.pic3 {
  height: 500px;
  width: 300px;
  margin-left: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}


.allDescription {
  margin-left: 10px;
  margin-right: 10px;
}
.title{
    text-align: center;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
    letter-spacing: 5px;
    font-size: 40px;
    text-shadow: 1px 1px 100px yellow;
    text-decoration: underline black;
    margin-top: 30px;
}
.description {
  margin-top: 30px;
  font-size: 25px;
  text-align: center;
  font-family: "EB Garamond", serif;
}

.links{
   margin-left: 30px;
   background-color: yellow;
   height: 40px;
   border-radius: 10px;
   width: 200px;
   text-align: center;
   margin-top: 30px;
   color: black;
}

.links:hover{
  box-shadow: 0 0 11px yellow; 
}

.pic3{
  height: 500px;
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.pic4{
  height: 500px;
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}