.main {
  top: 10%;
  left: 23%;
  text-align: center;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.text {
  display: inline;
  font-size: 1.5rem;
}

.continueRead {
  color: rgb(192, 192, 192);
  cursor: pointer;
}

.link{
    color: blue;
}
.link:hover{
    color: red;
    text-decoration: underline;
}
