/*  place-items-center place-content-center mt-36 */
.container {
  display: flex;
  margin-top: 13rem;
  align-items: center;
  justify-content: center;
}
.description {
  margin-top: auto;
  margin-bottom: auto;
}

.text {
  text-align: center;
  font-family: 'Yellowtail', cursive;
  font-size: 3rem;
}
.nameMe {
  position: relative;
  font-family: 'Covered By Your Grace', cursive;
  font-size: 3.82vw;
  color: white;
  -webkit-text-stroke: 0.1vw grey;
  text-transform: uppercase;
}
.imgCon {
  margin-left: 5rem;
}
.ferni {
  height: 200px;
  width: 200px;
}

.nameMe::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 10%;
  height: 100%;
  color: rgb(185 28 28);
  -webkit-text-stroke: 0.1vw rgb(185 28 28);;
  border-right: 3px solid grey;
  overflow: hidden;
  animation: animate 3s linear infinite;
}

@keyframes animate {
  0%,
  10%,
  100% {
    width: 0;
  }
  70%,
  90% {
    width: 103%;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .imgCon {
    margin-left: 0px;
  }

  .ferni {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
  }
}
